@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;700&display=swap");

:root {
  --grey: #f3f3f5;
  --black: #222222;
}

body {
  margin: 100px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  font-family: "Nunito";
}

.screen {
  height: 800px;
  width: 400px;
  background-color: white;
  margin: 100px 50px;
  border-radius: 40px;
  position: relative;
}

.header-bar {
  display: flex;
  align-items: center;
  margin: 40px 30px;
}

.header-bar__column {
  width: 50%;
  font-size: 20px;
}

.header-bar__column:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.artist {
  margin-top: -10px;
}

.artist-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-column img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  box-shadow: 0px 5px 25px rgb(129, 129, 129);
}

.artist-column__name {
  margin-top: 35px;
  font-size: 30px;
  font-weight: 800;
}

.artist-column__genre {
  margin-top: 10px;
  color: silver;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.buttons-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 120px;
  background-color: var(--black);
  color: silver;
  border-radius: 30px;
  margin-bottom: 30px;
}

.buttons-column:nth-child(2) {
  margin-left: 10px;
  background-color: white;
  box-shadow: 0px 0px 7px silver;
}

.buttons-column:nth-child(2) i {
  margin-right: 7px;
  color: red;
  font-size: 18px;
}

.song {
  padding-top: 10px;
  height: 350px;
  overflow-x: hidden;
}

.song-column {
  display: flex;
  align-items: center;
  margin: 0px 15px;
  padding: 12px 25px;
  border-radius: 20px;
}

.song-column:first-child {
  box-shadow: 0px 0px 10px silver;
}

.song-column:last-child {
  margin-bottom: 70px;
}

.song-column i {
  padding-left: 165px;
}

.song-column__photo img {
  height: 55px;
  width: 55px;
  border-radius: 10px;
  margin-top: 7px;
  margin-right: 25px;
}

.song-column__info {
  display: flex;
  flex-direction: column;
}

.song-column__info-artist {
  font-size: 13px;
  color: silver;
  margin-bottom: 5px;
}

.navigation-bar {
  display: flex;
  align-items: center;
  width: 330px;
  padding: 10px 10px;
  background-color: var(--black);
  margin-left: 20px;
  margin-top: -60px;
  position: absolute;
  border-radius: 50px;
}

.navigation-bar__column {
  width: 50%;
  margin: 0px 15px;
}

.navigation-bar__column:first-child {
  display: flex;
  flex-direction: column;
}

.navigation-bar__column:first-child span:first-child {
  font-size: 13px;
  color: silver;
}

.navigation-bar__column:first-child span:nth-child(2) {
  color: white;
}

.navigation-bar__column:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}

.navigation-bar__column:nth-child(2) i {
  margin: 0px 12px;
}

.playing-song {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.playing-song__img img {
  height: 275px;
  width: 275px;
  box-shadow: 0px 15px 25px rgb(63, 47, 47);
  margin-bottom: 60px;
  border-radius: 20px;
}

.playing-song__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playing-song__info-name {
  font-size: 30px;
  font-weight: 600;
}

.playing-song__info-artist {
  margin-top: 5px;
  color: silver;
}

.play-navigation__column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 30px;
}

.play-navigation__column:first-child div {
  width: 50%;
  padding: 0px 8px;
  font-size: 12px;
  color: silver;
}

.play-navigation__column:first-child div:nth-child(2) {
  display: flex;
  justify-content: flex-end;
}

.play-navigation__column:nth-child(2) img {
  height: 15px;
  width: 330px;
  margin-left: 2px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  font-size: 20px;
}

.navigation-buttons i:nth-child(1),
.navigation-buttons i:nth-child(5) {
  color: silver;
}

.navigation-buttons i:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  background-color: black;
  color: white;
  border-radius: 35px;
}
