.badge {
  background-color: #815854;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge__second {
  position: absolute;
  background-color: #815854;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: flex;
  right: 20px;
  top: 60px;
}
